{% extends "Home.html" %}
{% block content %}
{% if account_type == 'admin' %}
    <form method="POST">
        <select name="filter">
            {% for employee in employee_list %}
                {% if selected_user == employee.user_id %}
                    <option name="filter" value="{{employee.user_id}}" selected>{{employee.first_name}} {{employee.surname}} ({{employee.user_name}})</option>
                {% else %}
                    <option name="filter" value="{{employee.user_id}}">{{employee.first_name}} {{employee.surname}} ({{employee.user_name}})</option>
                {% endif %}
            {% endfor %}
        </select>
        {% if approval_required %}
            <input type="submit" value="Select" disabled class="filter_button">
        {% else %}
            <input type="submit" value="Select" class="filter_button">
        {% endif %}
        <input type="hidden" name="form name" value="user selection">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
{% endif %}
{% if account_type == 'admin' and user_details.user_id != base_id %}
    <form method="POST">
        <div class="account_button_container">
            <input type="submit" name="choice" value="Delete Account" class="rejection_button">
            {% if delete_button_presses == 1 %}
                <input type="submit" name="choice" value="Cancel" class="cancel_button">
            {% endif %}
        </div>
        <input type="hidden" name="form name" value="delete account">
        <input type="hidden" name="delete button presses" value="{{delete_button_presses + 1}}">
        <input type="hidden" name="selected user" value="{{selected_user}}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
{% endif %}
{% if state == 'State.Warning' %}
    <div class="information">
        <p>{{message}}</p>
    </div>
{% elif state == 'State.Success' %}
    <div class="confirmation">
        <p>{{message}}</p>
    </div>
{% elif state == 'State.Error' %}
<div class="error">
    <p>{{message}}</p>
</div>
{% else %}
    <div class="no_information">
        <p>.</p>
    </div>
{% endif %}
<div class="basic_form_container">
    <form method="POST" class="basic_form">
        <p>
            User Name
            <input type="text" name="user name" value="{{user_details.user_name}}" readonly maxlength="50">
        </p>
        
        {% if approval_required %}
            <p>
                First name
                <input type="text" name="first name" value="{{user_details.first_name}}" readonly maxlength="50">
            </p>
            
            <p>
                Surname
                <input type="text" name="surname" value="{{user_details.surname}}" readonly maxlength="50">
            </p>
            <p>
                Email
                <input type="text" name="email" value="{{user_details.email}}" readonly maxlength="256">
            </p>
        {% else %}
            <p>
                First name
                <input type="text" name="first name" value="{{user_details.first_name}}" maxlength="50">
            </p>
            <p>
                Surname
                <input type="text" name="surname" value="{{user_details.surname}}" maxlength="50">
            </p>
            <p>
                Email
                <input type="text" name="email" value="{{user_details.email}}" maxlength="256">
            </p>
        {% endif %}
        {% if manager_list|length > 0 %}
            {% if approval_required %}
            <p>
                Manager
                <select name="manager" disabled>
                    {% if selected_manager == 'None' %}
                        <option value="0" selected>Select</option>
                    {% else %}
                        <option value="0">Select</option>
                    {% endif %}
                    {% for manager in manager_list %}
                        {% if manager.user_id == selected_manager %}
                            <option value="{{manager.user_id}}" selected>{{manager.first_name}} {{manager.surname}} ({{manager.user_name}})</option>
                        {% else %}
                            <option value="{{manager.user_id}}">{{manager.first_name}} {{manager.surname}} ({{manager.user_name}})</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </p>
                
            {% else %}
            <p>
                Manager
                <select name="manager">
                    {% if selected_manager == 'None' %}
                        <option value="0" selected>Select</option>
                    {% else %}
                        <option value="0">Select</option>
                    {% endif %}
                    {% for manager in manager_list %}
                        {% if manager.user_id == selected_manager %}
                            <option name="manager" value="{{manager.user_id}}" selected>{{manager.first_name}} {{manager.surname}} ({{manager.user_name}})</option>
                        {% else %}
                            <option name="manager" value="{{manager.user_id}}">{{manager.first_name}} {{manager.surname}} ({{manager.user_name}})</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </p>
            {% endif %}
        {% endif %}
        <p> Password
            <input type="password" name="password" placeholder="xxxxxx" maxlength="50">
        </p>
        <p> Confirm Password
            <input type="password" name="password confirmation" placeholder="xxxxxx" maxlength="50">
        </p>
        <input type="hidden" name="form name" value="initial edit profile">
        <input type="hidden" name="selected user" value="{{selected_user}}">
        {% if approval_required %}
            <input type="submit" value="Submit" disabled class="filter_button">
        {% else %}
            <input type="submit" value="Submit" class="filter_button">
        {% endif %}
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
</div>
{% if approval_required %}
<div class="basic_form_confirmation_container">
    <form method="POST" class="basic form">
        <p>Please review your profile and confirm that these are the changes you wish to make.</p>
        <div class="two_button_container">
            <input type="submit" name="choice" value="Confirm" class="approval_button">
            <input type="submit" name="choice" value="Cancel" class="cancel_button">
        </div>
        <input type="hidden" name="form name" value="confirm changes">
        <input type="hidden" name="selected user" value="{{selected_user}}">
        <input type="hidden" name="user name" value="{{user_details.user_name}}">
        <input type="hidden" name="first name" value="{{user_details.first_name}}">
        <input type="hidden" name="surname" value="{{user_details.surname}}">
        <input type="hidden" name="manager" value="{{user_details.manager}}">
        <input type="hidden" name="email" value="{{user_details.email}}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
</div>
{% endif %}
{% endblock %}