<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Holiday Booking Application</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <h1 class="title">Holiday Project Management</h1>
  <div class="forgotten_container">
    <form method="POST" class="login_form">
      <p>Please enter your email address below:</p>
      <br>
      <input type="text" name="Registered Password">
      <input type="submit" value="Reset" class="login_button">
      <input type="hidden" name="form name" value="reset_password">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      {% if successful_reset %}
        <p>Thank you, if there is an account associated with the email address provided, you will receive an email
        to reset your password. Please click <a href="{{ url_for('login') }}">here</a> to return to the login page</p>
      {% endif %}
    </form>
  </div>
</body>
</html>