<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Holiday Booking Application</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<h1 class="title">Holiday Project Management</h1>
<div class="login_container">
    <div class="login_form">
        <p class="login_content">Already have an account?</p>
        <form method="POST" class="login_form">
            <p class="login_content">Please enter your username:</p>
            <input type="text" name="User Name" class="login_content" maxlength="50">
            <p class="login_content">Please enter your password:</p>
            <input type="password" name="Password" class="login_content">
            <input type="submit" value="Sign-in" class="login_button">
            {% if isProduction %}
                <a href="{{ url_for('forgotten_password_blueprint.send_email') }}">Forgotten your password?</a>
            {% endif %}
            <input type="hidden" name="form name" value="login">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
    </div>
    <div class="divider"></div>
    {% if signing_up %}
    <div class="login_form">
        <form method="POST" class="login_form">
            <p>User Name</p>
            <input type="text" name="User Name" maxlength="50">
            <p>First Name</p>
            <input type="text" name="First Name" maxlength="50">
            <p>Surname</p>
            <input type="text" name="Surname" maxlength="50">
            {% if isProduction %}
                <p>Email Address</p>
                <input type="text" name="Email Address" maxlength="256">
            {% endif %}
            <p>Please select the type of account</p>
            <select name="Account Type">
                <option value="basic">Standard</option>
                <option value="manager">Manager</option>
                <option value="admin">Admin</option>
            </select>
            <p>Password</p>
            <input type="password" name="Password" maxlength="50">
            <p>Confirm Password</p>
            <input type="password" name="Confirmed" maxlength="50">
            <input type="submit" value="Create Account" class="login_button">
            <input type="hidden" name="form name" value="sign-up details">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
    </div>
    {% else %}
    <div class="login_form">
        <form method="POST" class="login_form">
            <p class="login_content">Start tracking your holidays and projects today:</p>
            <input type="submit" value="Create Account" class="login_button">
            <input type="hidden" name="form name" value="sign-up">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
    </div>
    {% endif %}
</div>
</body>
{% if state == 'State.Warning' %}
    <div class="information">
        <p>{{ message }}</p>
    </div>
{% elif state == 'State.Success' %}
    <div class="confirmation">
        <p>{{ message }}</p>
    </div>
{% endif %}
</html>