<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Holiday Booking Application</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1 class="title">Reset Password</h1>
  <div class="forgotten_container">
    <form method="POST" class="login_form">
        <p>Confirm email address:</p>
        <input type="text" name="email address"/>
        <p>New Password</p>
        <input type="password" name="new password"/>
        <p>Confirm Password</p>
        <input type="password" name="confirm password">
        <input type="submit" value="Reset" class="login_button"/>
        <input type="hidden" name="form name" value="reset_password"/>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
    {% if state == 'Error' %}
      <div class="error">
          <p>{{message}}</p>
      </div>
    {% elif state == 'Warning' %}
      <div class="information">
          <p>{{message}}</p>
      </div>
    {% elif state == 'Success' %}
      <div class="confirmation">
          <p class="spacing">{{message}}.
            Please click <a href="{{ url_for('login') }}">here</a> to return to the login page</p>
      </div>
    {% else %}
      <div class="no_information">
          <p>.</p>
      </div>
    {% endif %}
  </div>
</body>
</html>